html {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif
}

body {
    border: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 5fr;
}


img {
    filter: invert(100%);
}

ul > li {
    align-items: center;
    display: grid;
    grid-template-rows: 40px;
    grid-template-columns: 20px 50px;
    gap: 15px;
}

.sidebar-header {
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: 45px 100px;
    align-items: center;
    gap: 10px;
    font-size: x-large;
}

.main-content {
    grid-column: 2;
    grid-template-columns: 3fr 1fr;
}

.projects {
    display: grid;
    grid-row: span 2;
    align-content: start;
    grid-template-columns: 1fr 1fr;
}

.projects h1 {
    grid-column: span 2;
}

.announcements, .trending {
    grid-column: 2;
}

.sidebar {
    color: white;
    font-size: large;
    font-weight: bold;
    padding: 15px 0 0 25px;
    align-items: start;
    align-content: start;
    grid-row: span 2;
    gap: 40px;
    background: rgb(60, 141, 196);
}

li {
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
}

.header {
    grid-template-columns: 3fr 1fr;
    align-items: center;
}

.sidebar,
.header,
.main-content {
    display: grid;
}