body {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

main {
    grid-column: 2;
}

.sidebar {
    grid-row: span 2;
}

li {
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
}

.header {
    grid-template-columns: 3fr 1fr;
    align-items: center;
}

.sidebar,
.header,
main {
    display: grid;
    border: 1px solid black;
}