body {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.main-content {
    grid-column: 2;
    grid-template-columns: 3fr 1fr;
}

.projects {
    display: grid;
    grid-row: span 2;
    align-content: start;
    grid-template-columns: 1fr 1fr;
}

.projects h1 {
    grid-column: span 2;
}

.announcements, .trending {
    grid-column: 2;
}

.sidebar {
    align-items: start;
    align-content: start;
    grid-row: span 2;
    gap: 25px;
}

li {
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
}

.header {
    grid-template-columns: 3fr 1fr;
    align-items: center;
}

.sidebar,
.header,
.main-content {
    display: grid;
    border: 1px solid black;
}