body {
    display: grid;
    grid-template-columns: 1fr 5fr;
}


img {
    filter: invert(100%);
}

ul > li {
    align-items: center;
    display: grid;
    grid-template-columns: 7.5% 50px;
    gap: 15px;
    color: white;
}

.sidebar-header {
    color: white;
    display: grid;
    grid-template-columns: 15% 100px;
    align-items: center;
    gap: 15px;
    font-size: x-large;
}

.main-content {
    grid-column: 2;
    grid-template-columns: 3fr 1fr;
}

.projects {
    display: grid;
    grid-row: span 2;
    align-content: start;
    grid-template-columns: 1fr 1fr;
}

.projects h1 {
    grid-column: span 2;
}

.announcements, .trending {
    grid-column: 2;
}

.sidebar {
    padding: 15px 0 0 25px;
    align-items: start;
    align-content: start;
    grid-row: span 2;
    gap: 50px;
    background: rgb(74, 177, 245);
}

li {
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
}

.header {
    grid-template-columns: 3fr 1fr;
    align-items: center;
}

.sidebar,
.header,
.main-content {
    display: grid;
    border: 1px solid black;
}